{% load i18n %}
{% load icons %}

{% with unit_url=unit.get_absolute_url %}
<span class="state-icon {{ state }}">
<span title="{% trans "Needs editing" context "String state" %}" class="state-need-edit">
    <a href="{{ unit_url }}">{% icon "need-edit.svg" %}</a>
</span>
<span title="{% trans "Read only" context "String state" %}" class="state-readonly">
    <a href="{{ unit_url }}">{% icon "read-only.svg" %}</a>
</span>
<span title="{% trans "Approved" context "String state" %}" class="green state-approved">
    <a href="{{ unit_url }}">{% icon "approved.svg" %}</a>
</span>
<span title="{% trans "Translated" context "String state" %}" class="green state-translated">
    <a href="{{ unit_url }}">{% icon "translated.svg" %}</a>
</span>
<span title="{% trans "Untranslated" context "String state" %}" class="state-empty">
    <a href="{{ unit_url }}">{% icon "empty.svg" %}</a>
</span>
<span
  {% if detail %}
    title="{% trans "Failed checks:" context "String state" %} {{ unit.active_checks|join:", "}}"
  {% else %}
    title="{% trans "Failed checks" context "String state" %}"
  {% endif %}
    class="red state-check">
    <a href="{{ unit_url }}">{% icon "alert.svg" %}</a>
</span>
<span
  {% if detail %}
    title="{% trans "Dismissed checks" context "String state" %} {{ unit.dismissed_checks|join:", "}}"
  {% else %}
    title="{% trans "Failed checks" context "String state" %}"
  {% endif %}
    class="gray state-dismissed-check">
    <a href="{{ unit_url }}">{% icon "alert.svg" %}</a>
</span>
<span title="{% trans "Commented" context "String state" %}" class="state-comment">
    <a href="{{ unit_url }}#comments">{% icon "comment.svg" %}</a>
</span>
<span title="{% trans "Suggested" context "String state" %}" class="state-suggest">
    <a href="{{ unit_url }}#suggestions">{% icon "suggest.svg" %}</a>
</span>
</span>
{% endwith %}
